@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-comic-relief: "Comic Relief", system-ui;
}

@layer utilities {


  .scrollbar-float::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background: transparent;
    position: absolute;
    right: 0;
  }

  .scrollbar-float::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-float::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    backdrop-filter: invert(80%);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-float:hover::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.5);
  }

  .scrollbar-float::-webkit-scrollbar-corner {
    background: transparent;
  }
}
